.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  width: 95%;
  max-width: 572px;
  max-height: 90vh;
  height: fit-content;
  background: rgba(239, 239, 239, 0.85);
  border: 0;
  border-radius: 15px;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
}