.paginationWrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.paginationWrapper p {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  background: #43967b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.paginationWrapper button {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background: #f1f1f1;
  color: #000;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.paginationWrapper button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 767px) {
  .paginationWrapper p,
  .paginationWrapper button {
    width: 42px;
    height: 42px;
    font-size: 1.4rem;
  }
}
