.button {
  background: #e3e3e3;
  border: 0;
  border-radius: 15px;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

.primary {
  background: #f4bb4a;
  color: #fff;
}

.secondary {
  background: #e3e3e3;
  color: #000;
  font-weight: 400;
  width: fit-content;
}

.success {
  background: linear-gradient(90deg, #b5dc52, #89e148);
  color: #fff;
}

.failure {
  background: linear-gradient(90deg, #ff9595, #ff4747, #ff3838);
  color: #fff;
}

.shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
