.card {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 45px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cardTitle {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.cardTitle span {
  font-weight: 700;
}

.success {
  color: #9dff5b;
}

.failure {
  color: #f4bb4a;
}

@media (max-width: 767px) {
  .card {
    padding: 35px 10px;
  }

  .cardTitle {
    font-size: 24px;
  }
}
